#token https://developer.tbank.ru/invest/intro/intro/token
T_TOKEN = 'your_token'

#Postgres main
POSTGRES_USER = your_user
POSTGRES_PASSWORD = your_password
POSTGRES_DB = your_db

#Airflow-UID
AIRFLOW_UID=50000

#Airflow-db
AIRFLOW_DB_USER = your_airflow_db_user
AIRFLOW_DB_PASSWORD = your_airflow_db_pass
AIRFLOW_DB_NAME = your_airflow_db_name

#Airflow-user
AIRFLOW_ADMIN_USER = your_airflow_user
AIRFLOW_ADMIN_PASSWORD = your_airflow_pass
AIRFLOW_ADMIN_EMAIL = your_airflow_email@example.com
#POSTGRES_HOST=localhost # or your_host