.env
venv/
__pycache__/
python_learn
python_learn/
airflow/logs
*.log

# Airflow
airflow/logs/
airflow/dags/__pycache__/
airflow/plugins/__pycache__/
*.pyc
__pycache__/
.dev/.user.yml
.dbt/.user.yml
dbt/target

