# Основные пакеты
python-dotenv==1.2.2
requests==2.34.2
SQLAlchemy==2.0.51
psycopg2-binary==2.9.12
pandas==3.0.3
numpy==2.4.6
packaging==26.2

# Для работы с API T-Invest (если используешь SDK, а не прямой REST)
# t-tech-investments устанавливается отдельно через индекс
# pip install t-tech-investments --index-url https://opensource.tbank.ru/api/v4/projects/238/packages/pypi/simple